.calendar-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100vh; /* Faz o layout ocupar toda a altura da tela */
  overflow: hidden; /* Previne rolagem vertical */
}

/* Define o tamanho da lista de médicos */
.doctor-filter {
  display: flex;
  flex-direction: column;
  width: 250px; /* Aumentei um pouco a largura para não apertar os itens */
  margin-right: 20px; /* Espaçamento entre a lista de médicos e o calendário */
  justify-content: space-between;
  height: 100%; /* Deixa o filtro dos médicos preencher toda a altura da tela */
  overflow-y: auto; /* Permite rolagem no filtro caso a lista de médicos seja muito longa */
}
/*  */
/* Define o tamanho do contêiner do calendário */

/* Ajuste para os selects de mês e ano */
.date-selector {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

full-calendar {
  height: 85vh;
}
.testando {
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.testando2 {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 250px;
  margin-top: 10px;
  border-bottom: 1px solid #e2e8f0;
}

.graficos {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-top: 20px;
}

.fc-daygrid-day {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Estilos básicos para os eventos no calendário */
.fc-daygrid-event {
  border: none; /* Remove bordas padrão */
  background: none; /* Remove cor de fundo padrão */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
}

/* Icone do card */
.custom-event img {
  width: 20px;
  height: 20px;
}

.fc-daygrid-day-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Para garantir que os eventos não ultrapassem a célula */
}

.fc-daygrid-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100px; /* Altura mínima para cada célula */
  height: auto; /* Permite que a célula se ajuste ao conteúdo */
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Garantir que o conteúdo da célula ocupe toda a altura */
  width: 100%; /* Garantir que o conteúdo da célula ocupe toda a largura */
}

::ng-deep .fc .fc-daygrid-day {
  height: 100px;
}

::ng-deep .fc-daygrid-event-harness {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

::ng-deep .custom-event {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 4px;
  padding: 4px;
  color: white;
  font-size: 0.8rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.consulta-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.consulta-title {
  font-size: 14px;
  font-weight: 700;
}
.consulta-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Faz o calendário crescer para ocupar o restante do espaço */
  overflow: hidden;
  max-height: 100vh; /* Garantir que o calendário ocupe toda a altura disponível */
}

/* Estilos para o calendário */
.fc {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Inclui as bordas no cálculo do tamanho total */
  overflow: hidden; /* Impede a rolagem interna do calendário */
}

/* .calendar-container {
  height: 90vh;
  max-height: 90vh;
} */

/* Contêiner do checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Esconder o checkbox original mas mantê-lo clicável */
.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Criar o estilo personalizado do checkbox (ajustado para 15px) */
.checkmark {
  position: relative;
  height: 15px; /* Alterado para 15px */
  width: 15px; /* Alterado para 15px */
  background-color: #ccc;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s;
  z-index: 0;
}

/* Efeito ao passar o mouse */
.checkbox-container:hover input ~ .checkmark {
  background-color: #b3b3b3;
}

/* Estilo para checkbox marcado */
.checkbox-container input:checked ~ .checkmark {
  background-color: #007bff;
}

/* Adiciona o ícone de checkmark */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Mostrar o ícone quando estiver marcado */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Estilo do ícone de checkmark (ajustado para 15px) */
.checkmark:after {
  left: 5px; /* Ajustado para 15px */
  top: 3px; /* Ajustado para 15px */
  width: 4px; /* Ajustado para 15px */
  height: 8px; /* Ajustado para 15px */
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Estilização da div que contém os selects */
.date-selector {
  display: flex;
  gap: 10px; /* Espaçamento entre os dois selects */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.date-selector select {
  width: 130px; /* Ajuste da largura */
  height: 36px; /* Altura fixa */
  padding: 5px 30px 5px 10px; /* Padding ajustado para a seta e o texto */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 4px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Cor da borda */
  background-color: #fff; /* Fundo branco */
  appearance: none; /* Remove o estilo padrão dos selects */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="black" stroke-width=".5" d="M0 0l2 2.5L4 0"/></svg>');
  background-position: right 8px center;

  background-repeat: no-repeat;
  background-size: 8px; /* Tamanho da seta */
}

/* Adiciona um efeito quando o select é focado */
.date-selector select:focus {
  outline: none;
  border-color: #007bff; /* Cor da borda ao focar */
}

/* Ajusta o espaçamento dos textos nas opções */
.date-selector option {
  padding: 5px;
}
::ng-deep .fc-toolbar-title {
  text-transform: uppercase;
}
/* Ajustes para a responsividade do calendário */

@media (max-width: 768px) {
  .doctor-filter {
    width: 100%;
    margin-right: 0;
  }

  .calendar-container {
    height: 50vh; /* Reduz a altura do calendário em telas muito pequenas */
  }
}

/* Ajustes para a responsividade do calendário */
@media (max-width: 1200px) {
  .calendar-layout {
    flex-direction: column;
    justify-content: flex-start;
  }

  .doctor-filter {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; /* Adiciona espaço inferior entre o filtro e o calendário */
  }

  .calendar-container {
    width: 100%;
    height: 60vh; /* Ajuste a altura do calendário para que não ocupe toda a tela em telas menores */
  }

  .fc-toolbar-title {
    font-size: 1rem;
  }

  .fc-header-toolbar {
    flex-direction: column;
  }

  ::ng-deep .fc .fc-daygrid-day {
    min-height: 100px; /* Altura mínima para cada célula */
    height: auto; /* Deixa a altura das células se ajustar ao conteúdo */
  }
}

@media (max-width: 768px) {
  .fc-daygrid-day {
    min-width: 80px; /* Ajuste a largura mínima para telas pequenas */
  }

  .fc-daygrid-day-events {
    padding: 2px; /* Ajuste o padding dos eventos para não sobrecarregar a célula */
  }
}
a {
  color: black; /* Define a cor preta */
  text-decoration: underline; /* Define o sublinhado */
}

a:hover {
  text-decoration: underline; /* Garante que o sublinhado se mantenha ao passar o mouse */
}
