<div class="calendar-layout">
  <div class="doctor-filter">
    <div class="testando">
      <p>{{ selectedDate | date : "longDate" }}</p>
      <div *ngFor="let appointment of displayedAppointments">
        <div class="consulta-card">
          <span class="consulta-title">
            {{
              (appointment.title === "Retorno"
                ? "Retorno com "
                : "Consulta com ") + appointment.patient.name
            }}
          </span>
          <span class="consulta-subtitle">
            {{ "Código: " + appointment.patient.id }}
          </span>
          <span class="consulta-subtitle">
            {{ "Horário: " + appointment.hora }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- calendar.component.html -->
  <div class="calendar-container">
    <!-- Lista de médicos com checkboxes -->

    <!-- Filtros de mês e ano -->
    <div #dateSelector class="date-selector">
      <select [(ngModel)]="selectedMonth" (change)="onMonthYearChange()">
        <option *ngFor="let month of monthOptions" [value]="month.value">
          {{ month.label }}
        </option>
      </select>

      <select [(ngModel)]="selectedYear" (change)="onMonthYearChange()">
        <option *ngFor="let year of yearOptions" [value]="year.value">
          {{ year.label }}
        </option>
      </select>
    </div>

    <div class="calendar-container">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
