<app-titulo
  title="Redefinir senha"
  subtitle="Digite e confirme sua senha"
></app-titulo>
<form [formGroup]="form" *ngIf="form">
  <div class="form-grid-item">
    <label class="c-app-form_label" for="senha">
      <span class="descricao">Digite sua nova senha</span>
      <mat-form-field class="c-app-form_field">
        <input
          [type]="hideSenha ? 'password' : 'text'"
          matInput
          name="senha"
          formControlName="senha"
          placeholder="Digite sua Senha"
          (ngModelChange)="validatePassword()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleHideSenha()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideSenha"
        >
          <mat-icon>{{ hideSenha ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <mat-error *ngIf="form.controls['senha'].errors?.['senhaFraca']">
          Senha fraca
        </mat-error>
      </mat-form-field>
    </label>
  </div>

  <div class="form-grid-item">
    <label class="c-app-form_label" for="confirmarSenha">
      <span class="descricao">Confirmar sua senha</span>
      <div>
        <mat-form-field class="c-app-form_field">
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            name="confirmarSenha"
            formControlName="confirmarSenha"
            placeholder="Confirme sua Senha"
            (ngModelChange)="validatePassword()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleHide()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </label>
  </div>

  <div class="validators">
    <p
      [ngClass]="{ valid: isLengthValid, invalid: !isLengthValid }"
      class="error"
    >
      <span *ngIf="isLengthValid; else crossIcon"
        ><img src="assets/img/check-true.svg"
      /></span>
      <ng-template #crossIcon
        ><img src="assets/img/check-false.svg" class="error"
      /></ng-template>
      No mínimo 8 caracteres
    </p>
    <p [ngClass]="{ valid: hasNumber, invalid: !hasNumber }" class="error">
      <span *ngIf="hasNumber; else crossIcon"
        ><img src="assets/img/check-true.svg"
      /></span>
      <ng-template #crossIcon
        ><img src="assets/img/check-false.svg"
      /></ng-template>
      Pelo menos um número
    </p>

    <p
      [ngClass]="{ valid: hasSpecialChar, invalid: !hasSpecialChar }"
      class="error"
    >
      <span *ngIf="hasSpecialChar; else crossIcon"
        ><img src="assets/img/check-true.svg"
      /></span>
      <ng-template #crossIcon
        ><img src="assets/img/check-false.svg"
      /></ng-template>
      No mínimo 1 caractere especial
    </p>
    <p
      [ngClass]="{ valid: passwordsMatch, invalid: !passwordsMatch }"
      class="error"
    >
      <span *ngIf="passwordsMatch; else crossIcon"
        ><img src="assets/img/check-true.svg"
      /></span>
      <ng-template #crossIcon
        ><img src="assets/img/check-false.svg"
      /></ng-template>
      As senhas devem ser iguais
    </p>
  </div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="mudarSenha()"
    type="submit"
    class="btn-padrao1 button-login"
  >
    Redefinir senha
  </button>
</form>
