.consulta-header {
  display: flex;
  align-items: center;
  gap: 46px;
  margin: 18px 0px;
}
.patient-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.patient-subtitle {
  font-size: 14px;
  color: #818181;
}

.gap {
  display: flex;
  gap: 95px;
}

.consulta-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.consulta-title1 {
  font-size: 18px;
}

.consulta-header1,
.consulta-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.attachments-container {
  padding: 1rem;
}

.attachment-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.attachment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  width: 80px;
}

.attachment-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.attachment-item.new {
  cursor: pointer;
}
.attachment-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.attachment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  width: 80px;
}

.attachment-name {
  font-size: 12px;
  margin-top: 0.5rem;
}

.attachment-item.new {
  cursor: pointer;
}

.attachment-name {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 0.5rem;
}
.attachment-icon {
  width: 30px;
  height: 50px;
}

.btn-voltar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
  width: 101px;
  height: 36px;
  color: #595959;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(181, 180, 180, 0.26); /* Sombra para efeito elevado */
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
}

.btn-voltar:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra mais forte ao passar o mouse */
}

.btn-voltar:active {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); /* Sombra ao clicar */
}

.btn-voltar:focus {
  outline: none; /* Remove a borda padrão ao focar */
}

.margin-top {
  margin-top: 40px;
}
.observacao {
  font-weight: 700;
}
.return-container {
  padding: 1rem;
}

.return-item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
  max-width: 400px;
  justify-content: space-between;
  cursor: pointer;
}

.return-item span:first-child {
  font-weight: 500;
}

.return-item span:last-child {
  font-size: 0.9rem;
  color: #666;
}

.padding {
  padding-bottom: 30px;
}
.especialidade-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Garante que as linhas fiquem empilhadas */
  gap: 12px; /* Espaçamento entre as linhas */

  span {
    font-size: 18px;
  }
}

.row {
  display: flex;
  justify-content: flex-start; /* Alinha os itens à esquerda */
  gap: 10px; /* Espaçamento entre o rótulo e o valor */
}

.label {
  font-weight: bold;
  width: 150px; /* Define uma largura fixa para os rótulos */
  text-align: left; /* Alinha o texto dos rótulos à direita */
}

.value {
  text-align: left; /* Alinha o texto dos valores à esquerda */
}
.value-bold {
  text-align: left;
  font-weight: 700;
}
.patient-photo {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px; /* Bordas arredondadas */
  margin-left: 20px; /* Espaçamento da foto */
}

.patient-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr; /* Ajusta a proporção: 80% corpo, 20% foto */
  gap: 20px; /* Espaçamento entre as colunas */
  align-items: center; /* Alinha verticalmente */
}

.corpo {
  display: flex;
  flex-direction: column;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha ao topo */
}

.patient-photo {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attachment-label {
  cursor: pointer;
}

.file-input {
  display: none; /* Esconde o input */
}

.attachment-name {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}
.attachment-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attachment-item {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachment-name-container {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-icon img {
  width: 16px;
  height: 16px;
}

.edit-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.edit-icon img {
  width: 16px;
  height: 16px;
}

.edit-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 22px;
}

.edit-input {
  width: 80px;
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.save-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.save-icon img {
  width: 16px;
  height: 16px;
}

.observation-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.observation-header {
  display: flex;
  align-items: end;
  gap: 10px;
}

.observation-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.edit-icon,
.save-icon {
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
  margin-left: 8px;
  transition: color 0.2s;
}

.edit-icon:hover,
.save-icon:hover {
  color: #0056b3;
}

.observation-view {
  font-size: 14px;
  line-height: 1.5;
}

.observation-edit textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
  position: absolute; /* Fixa o ícone ao lado direito */
  right: 0; /* Ajusta o alinhamento */
  top: 0; /* Alinha ao topo */
  margin-left: auto;
  transition: color 0.2s;
}

.edit-icon:hover {
  color: #0056b3;
}

.observation-edit {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.save-icon {
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.save-icon:hover {
  color: #0056b3;
}

.icone {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-consulta {
  border: 1px solid #0061be;
  border-radius: 10px;
  color: white;
  background-color: #307ac1;
  padding: 5px;
  cursor: pointer;
}

.btn-consulta:disabled {
  background-color: #9a9a9aed !important;
  border: none !important;
  color: black !important;
  cursor: not-allowed !important; /* O cursor será mostrado como "não permitido" */
  opacity: 0.6; /* Diminui a opacidade para mostrar visualmente que está desabilitado */
}
.grid1 {
  display: grid;
  grid-template-columns: 4fr 1fr; /* Ajusta a proporção: 80% corpo, 20% foto */
  gap: 20px; /* Espaçamento entre as colunas */
  align-items: start; /* Alinha verticalmente */
}
.novo-retorno {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.novo-retorno:hover {
  background-color: #f0f0f0; /* Exemplo de destaque */
}

.icone-novo {
  height: 20px;
}
