:host {
  .button-login {
    width: 100%;
    margin-bottom: 10px;
  }
  .link-voltar {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
  .button-login {
    background-color: #8cc738;
    color: #ffffff;
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 8px;
  }
}
