h1 {
  font-size: 35px;
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: start;
}
p {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: start;
  color: #676767;
}
