<div class="acesso body">
  <div class="p">Acesso Rápido</div>

  <div class="cards">
    <div class="flex-container">
      <div><img src="assets/img/icone-pacientes.svg" /></div>
      <div class="p-cards">Pacientes</div>
    </div>

    <div class="flex-container">
      <div><img src="assets/img/icone-medicos.svg" /></div>
      <div class="p-cards">Médicos</div>
    </div>
  </div>

  <div class="consultas">
    <div class="p-consultas">Próximas consultas</div>

    <div class="container-consultas">
      <div class="time-slot" *ngFor="let group of doctorAppointments">
        <!-- Exibe o horário -->
        <span class="time">{{ group.time }}</span>
        <!-- Cria uma grade para os cards deste horário -->
        <div class="grid-container">
          <div class="grid-item" *ngFor="let doctor of group.doctors">
            <div class="doctor-card">
              <div class="doctor-name">{{ doctor.name }}</div>
              <div class="doctor-specialty">{{ doctor.specialty }}</div>
              <div class="doctor-consultations">
                {{ doctor.consultations }} pacientes
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
