<div class="tabela">
  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data; let i = index"
        [ngClass]="{
          'row-selected': selectedRowIndex === i
        }"
        (click)="selectRow(i, $event)"
      >
        <td *ngFor="let column of columns">
          <ng-container [ngSwitch]="column.type">
            <span
              *ngSwitchCase="'text'"
              [ngClass]="{
                'status-active': item[column.key] === true,
                'status-inactive': item[column.key] === false
              }"
              >{{
                item[column.key] === true
                  ? "Ativo"
                  : item[column.key] === false
                  ? "Inativo"
                  : getNestedValue(item, column.key) ?? "-----"
              }}</span
            >

            <!-- Condição para botões -->
            <ng-container *ngSwitchCase="'buttons'">
              <div class="dropdown">
                <button class="btn-icon" (click)="toggleDropdown(i, $event)">
                  <img src="assets/img/tres-pontos.svg" alt="Actions" />
                </button>

                <div class="dropdown-menu" *ngIf="isDropdownOpen(i)">
                  <ng-container *ngFor="let btn of column.buttons">
                    <button
                      class="dropdown-item"
                      (click)="executeButtonAction(btn, item, $event)"
                    >
                      <div class="dropdown-option">
                        <img [src]="btn.img" alt="Action icon" />
                        {{ btn.label }}
                      </div>
                    </button>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
