<div class="input" *ngIf="type === 'text'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div>
    <input
      type="text"
      autocomplete="off"
      [placeholder]="placeholder"
      [mask]="mask"
      [attr.maxLength]="maxLength"
      [style.width]="width"
      [disabled]="disabled"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      [ngClass]="{
        'input-invalid':
          (requiredInput && valueTouched && !value) ||
          (isCpf && value && !cpfValido) ||
          (isRg && value && !rgValido) ||
          (isEmail && value && !emailValido)
      }"
      (focus)="isFocused = true; valueTouched = true"
      (blur)="isFocused = true"
    />

    <div
      *ngIf="requiredInput && (valueTouched || isFocused) && !value"
      class="error-message"
    >
      Obrigatório
    </div>
    <div *ngIf="isCpf && value && !cpfValido" class="error-message">
      CPF inválido
    </div>
    <div *ngIf="isRg && value && !rgValido" class="error-message">
      RG inválido
    </div>
    <div *ngIf="isEmail && value && !emailValido" class="error-message">
      E-mail inválido
    </div>
  </div>
</div>



<div class="input" *ngIf="type === 'time'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div>
    <input
      type="time"
      autocomplete="off"
      [placeholder]="placeholder"
      [mask]="mask"
      [attr.maxLength]="maxLength"
      [style.width]="width"
      [disabled]="disabled"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      [ngClass]="{
        'input-invalid': requiredInput && valueTouched && !value
      }"
      (focus)="isFocused = true; valueTouched = true"
      (blur)="isFocused = true"
    />

    <div
      *ngIf="requiredInput && (valueTouched || isFocused) && !value"
      class="error-message"
    >
      Obrigatório
    </div>
  </div>
</div>

<div class="input" *ngIf="type === 'readonly'">
  <label class="labelReadonly">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="input-container">
    <input
      type="text"
      autocomplete="off"
      [placeholder]="placeholder"
      [mask]="mask"
      [attr.maxLength]="maxLength"
      [style.width]="width"
      [disabled]="disabled"
      [(ngModel)]="value"
      [readOnly]="readOnly"
      (ngModelChange)="onValueChange($event)"
      class="readonly"
    />
    <img
      src="assets/img/readonly.svg"
      alt="Ícone de Read Only"
      class="input-icon"
    />
  </div>
</div>

<div class="input" *ngIf="type === 'number'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <input
    type="number"
    [placeholder]="placeholder"
    [mask]="mask"
    [attr.maxLength]="maxLength"
    [style.width]="width"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
  />
</div>

<div class="input" *ngIf="type === 'password'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <input
    [type]="passwordType"
    [placeholder]="placeholder"
    [mask]="mask"
    [attr.maxLength]="maxLength"
    [style.width]="width"
    [readOnly]="readOnly"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
  />
  <img (click)="togglePassword()" [src]="eyeImage" class="eye" />
</div>

<div class="input" *ngIf="type === 'email'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <input
    type="email"
    [placeholder]="placeholder"
    [mask]="mask"
    [attr.maxLength]="maxLength"
    [style.width]="width"
    [readOnly]="readOnly"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    [ngClass]="{
      'input-invalid': requiredInput && valueTouched && !value
    }"
    (focus)="isFocused = true; valueTouched = true"
    (blur)="isFocused = true"
  />
  <div
    *ngIf="requiredInput && (valueTouched || isFocused) && !value"
    class="error-message"
  >
    Obrigatório
  </div>
</div>

<div class="input" *ngIf="type === 'money'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="input-container">
    <span class="currency-symbol">R$</span>
    <input
      type="number"
      [placeholder]="placeholder"
      [mask]="mask"
      [attr.maxLength]="maxLength"
      [style.width]="width"
      [readOnly]="readOnly"
      [(ngModel)]="value"
      maxlength="10"
      (ngModelChange)="onValueChange($event)"
    />
  </div>
</div>

<div class="input" *ngIf="type === 'date'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="date-container">
    <img src="assets/img/calendario.svg" class="search-icon" />
    <input
      mask="00/00/0000"
      class="date-input"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="onDateValueChange($event, 'date')"
      (focus)="isFocused = true; valueTouched = true"
      (blur)="onBlur()"
      [ngClass]="{
        'input-invalid': requiredInput && valueTouched && !value
      }"
    />
  </div>

  <div
    *ngIf="requiredInput && (valueTouched || isFocused) && !value"
    class="error-message"
  >
    Obrigatório
  </div>
</div>

<div class="input" *ngIf="type == 'date-hour'">
  <label
    >{{ label }} <span *ngIf="requiredInput" class="required">*</span></label
  >
  <input
    type="datetime-local"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [mask]="mask"
    [disabled]="disabled"
    (keydown)="preventTyping($event)"
    (click)="openCalendar($event)"
    (ngModelChange)="onValueChange($event)"
    (blur)="onBlur()"
  />
</div>

<div class="input" *ngIf="type === 'textarea'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <textarea
    [placeholder]="placeholder"
    [attr.maxLength]="maxLength"
    [style.width]="width"
    [readOnly]="readOnly"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    [ngClass]="{
      'input-invalid': requiredInput && valueTouched && !value
    }"
    (focus)="isFocused = true; valueTouched = true"
    (blur)="isFocused = true"
  ></textarea>

  <div
    *ngIf="requiredInput && (valueTouched || isFocused) && !value"
    class="error-message"
  >
    Obrigatório
  </div>
</div>

<div class="input" *ngIf="type == 'select'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="custom-select-container">
    <input
      type="text"
      placeholder="Selecione"
      [style.width]="width"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterOptions($event)"
      (focus)="showOptions = true; valueTouched = true; checkValidity()"
      (blur)="hideOptions()"
      [disabled]="disabled"
      [ngClass]="{
        'input-invalid': requiredInput && valueTouched && !isValueValid()
      }"
    />
    <div *ngIf="isValueValid() && mostrar" class="remove-button-container">
      <img
        src="assets/img/remove-select.svg"
        class="remove-button"
        (click)="removeValue()"
      />
    </div>

    <ul *ngIf="showOptions && filteredOptions.length" class="custom-options">
      <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
        {{ option.name }}
      </li>
    </ul>
  </div>

  <!-- Exibe mensagem de erro se o campo for inválido -->
  <div
    *ngIf="requiredInput && valueTouched && !isValueValid()"
    class="error-message"
  >
    Obrigatório
  </div>
</div>

<div class="input" *ngIf="type === 'search'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="search-container">
    <img src="assets/img/search.svg" class="search-icon" />
    <input
      type="{{ this.typeSearch }}"
      name="pesquisar"
      class="search-input"
      autocomplete="off"
      [placeholder]="placeholder"
      [style.width]="width"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
    />
  </div>
</div>
<div class="input" *ngIf="type === 'search-select'">
  <label [style.color]="labelColor">
    {{ label }} <span *ngIf="requiredInput" class="required">*</span>
  </label>
  <div class="dropdown-search-container">
    <!-- Campo de pesquisa -->
    <div class="search-input-container">
      <img src="assets/img/search.svg" class="search-icon" />
      <input
        type="text"
        autocomplete="off"
        [placeholder]="placeholder"
        [mask]="mask"
        [attr.maxLength]="maxLength"
        [style.width]="width"
        [readOnly]="readOnly"
        [disabled]="disabled"
        [(ngModel)]="pesquisar"
        (ngModelChange)="onSearchChange($event)"
        class="search-input margin-right"
      />
    </div>

    <!-- Dropdown customizado para o select -->
    <div class="select-container">
      <div class="selected-option" (click)="toggleDropdown()">
        {{ selectedLabel }}
        <svg
          class="dropdown-icon"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </div>

      <!-- Lista suspensa -->
      <ul *ngIf="isDropdownVisible" class="custom-options">
        <li
          *ngFor="let option of optionsList"
          [class.selected]="option.value === selectedOption"
          (ngModelChange)="onSelectChange($event)"
          (click)="selectOption(option)"
        >
          {{ option.name }}
          <svg
            *ngIf="option.value === selectedOption"
            class="check-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</div>
