.input {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  height: 54px;
  margin-top: 8px;
  color: #6b7280;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background-color: #f8fafc;
  padding: 18px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  color: #4b5563;
  background-color: #e5e7eb;
  cursor: not-allowed;
}

textarea {
  resize: none;
  height: 120px;
}

.remove-button {
  position: absolute;
  top: 25px;
  right: 10px;
  border: none;
  cursor: pointer;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #27272a;
}

select {
  width: 100%;
  height: 54px;
  margin-top: 8px;
  color: #6b7280;
  background-color: #f8fafc;
  padding: 18px;
  padding-right: 30px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background-image: url("/assets/images/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.rotate-arrow {
  background-image: url("/assets/images/select-arrow-up.svg");
}

.required {
  font-weight: bold;
  color: red;
}

.search-container,
.input-container {
  position: relative;
  width: 100%;
}

.currency-symbol {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-40%);
  font-size: 14px;
  color: #6b7280;
}

.input-container input {
  padding-left: 36px !important;
}

.search-input {
  width: 100%;
  padding-left: 40px;
  height: 54px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-40%);
  width: 20px;
  height: 20px;
}

.eye {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translateY(-2.5em);
  display: inline-block;
  margin-left: 90%;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select-container {
  position: relative;
}

.custom-select-container input {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  border-radius: 10px;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  margin-top: 0;
  padding: 0;
  overflow-y: auto;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1000;
}

.custom-options li {
  padding: 12px;
  list-style: none;
  cursor: pointer;
}

.custom-options li:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 940px) {
  input {
    padding: 6px;
  }

  label {
    font-weight: bold;
  }

  .eye {
    display: none;
  }
}
