<div class="modal-overlay" (click)="closeOnClickOutside($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Toggle no canto superior direito dentro do modal -->

    <div class="icone-atencao">
      <div class="teste">
        <img
          src="assets/img/exclusao-atencao.svg"
          alt=""
          class="icone-atencao"
        />
        <h2>Cuidado!</h2>
      </div>
    </div>

    <div class="div-subtitle">
      <p class="subtitle">
        Você está prestes a cancelar
        <span>
          {{ this.tipo == "consulta" ? "a consulta" : " o retorno" }}
          {{
            this.item.sexo === "Feminino"
              ? "da paciente " + this.item.paciente
              : "do paciente " + this.item.paciente
          }}
          do dia
          {{ this.item.dataConsulta }}
        </span>
        . Deseja prosseguir?
      </p>
    </div>

    <div class="button-group">
      <button (click)="voltar()" class="btn btn-secondary">Voltar</button>
      <button (click)="salvar()" class="btn btn-primary">Sim</button>
    </div>
  </div>
</div>
