.form-container {
  padding: 20px;
  max-width: 100%; /* Expande o container ao máximo */
  box-sizing: border-box; /* Garante que o padding e a borda não aumentem o tamanho */
}

h3 {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* 4 colunas para informações pessoais */
  gap: 10px; /* Espaçamento entre os inputs */
  margin-bottom: 20px;
}

.form-row-profissionais {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 3 colunas para informações profissionais */
  gap: 10px;
  margin-bottom: 20px;
}

.input-standard {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  width: 30%;
}

.consulta-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}
.consulta-title {
  font-size: 32px;
}
.dot {
  color: #307ac1;
}

.finalizar {
  background-color: #398fe2;
  border: 1px solid #005ab1;
  font-weight: 700;
  color: white;
}

.cancelar {
  color: black;
  background-color: #aeaeae;
  border: 1px solid #818181;
  font-weight: 700;
}

.finalizar:hover {
  background-color: #005ab1;
}

.cancelar:hover {
  background-color: #818181;
}
.grid-2fr {
  grid-column: span 2;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  height: 54px;
  margin-top: 8px;
  color: #6b7280;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background-color: #f8fafc;
  padding: 18px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

.alergias {
  width: 100%;
}

.alergias-btn {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100px;
  justify-content: center;
}
.alergias-btn2 {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.input2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  gap: 10px;
  max-height: 300px;
  overflow: auto;
}

/* Estilos para a posição do toggle no canto superior direito dentro da modal */

.toggle-label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Estilo para o switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

h1 {
  margin: 0 !important;
}

.toggle {
  display: flex;
  align-items: center;
}
.btn-alergia1 {
  margin-top: 10px !important;
}
.upload-square {
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
  background-color: #d9d9d9;
}

.upload-square:hover {
  border-color: #aaa;
}

.upload-text {
  font-size: 14px;
  color: #555;
}

.hidden-input {
  display: none;
}

.preview-image {
  position: absolute; /* Faz com que a imagem seja posicionada no topo do contêiner */
  width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
  height: 100%; /* Garante que a imagem ocupe toda a altura do contêiner */
  object-fit: cover; /* Faz com que a imagem cubra todo o contêiner, mantendo a proporção */
  top: 0; /* Posiciona a imagem no topo do contêiner */
  left: 0; /* Posiciona a imagem no lado esquerdo do contêiner */
  background-color: #d9d9d9;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.form-row .col-span-2 {
  grid-column: span 2; /* Campo ocupa 2 colunas */
}
.teste-div {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 4 colunas para informações pessoais */
}
.col-span-2 {
  grid-column: span 2; /* Ocupar 2 colunas */
}

.row-span-2 {
  grid-row: span 2; /* Ocupar 2 linhas */
}

.row-foto {
  display: flex;
  justify-content: end;
}

.icone {
  height: 20px;
  width: 20px;
}
