<div>
  <h1 class="consulta-title">Novo cadastro<span class="dot">.</span></h1>
</div>
<form class="form-container">
  <div class="header">
    <!-- Readonly Tipo de cadastro -->
    <app-input
      label="Tipo de cadastro"
      name="tipoCadastroLabel"
      [(ngModel)]="form.tipoCadastroLabel"
      inputClassName="input-standard"
      [readOnly]="true"
      type="readonly"
      *ngIf="form.tipoCadastro === 1 || form.tipoCadastro === 2"
    ></app-input>

    <!-- Select Tipo de cadastro, displayed if tipoCadastro is empty -->
    <app-input
      label="Tipo de cadastro"
      type="select"
      width="100%"
      name="userType"
      [selectData]="cadastroOptions"
      [(ngModel)]="form.userType"
      [requiredInput]="true"
      *ngIf="form.tipoCadastro === 3"
    ></app-input>
  </div>

  <h3>Informações Pessoais</h3>
  <div class="form-row">
    <!-- Name Input -->
    <app-input
      type="text"
      label="Nome"
      name="name"
      required="true"
      [(ngModel)]="form.name"
      width="100%"
      [requiredInput]="true"
      [placeholder]="'Digite o ' + getLabel().toLowerCase()"
    ></app-input>

    <!-- Date of Birth Input -->
    <app-input
      label="Data de Nascimento"
      type="date"
      name="dateOfBirth"
      inputClassName="input-standard"
      [(ngModel)]="form.dateOfBirth"
      [requiredInput]="true"
      [placeholder]="'DD/MM/YYYY'"
    ></app-input>

    <!-- CPF Input -->
    <app-input
      label="CPF"
      name="cpf"
      inputClassName="input-standard"
      mask="000.000.000-00"
      [(ngModel)]="form.cpf"
      [requiredInput]="true"
      [isCpf]="true"
      [placeholder]="'Digite o CPF'"
    ></app-input>
  </div>

  <div class="form-row">
    <!-- RG Input -->
    <app-input
      label="RG"
      name="documentNumber"
      mask="00.000.000-0"
      inputClassName="input-standard"
      [(ngModel)]="form.documentNumber"
      [requiredInput]="true"
      [isRg]="true"
      [placeholder]="'Digite o RG'"
    ></app-input>

    <!-- Nacionalidade Select -->
    <app-input
      type="select"
      width="100%"
      name="gender"
      label="Sexo"
      [selectData]="opcoesSexo"
      [(ngModel)]="form.gender"
      [requiredInput]="true"
      [placeholder]="'Selecione o sexo'"
    ></app-input>

    <!-- Celular Input -->
    <app-input
      label="Celular"
      name="cellphone"
      inputClassName="input-standard"
      [mask]="'(00) 00000-0000'"
      [(ngModel)]="form.cellphone"
      [requiredInput]="true"
      [placeholder]="'Digite o número de celular'"
    ></app-input>
  </div>

  <div class="form-row">
    <!-- CEP Input -->
    <app-input
      label="CEP"
      name="cep"
      inputClassName="input-standard"
      [mask]="'00000-000'"
      [(ngModel)]="form.cep"
      [requiredInput]="true"
      [placeholder]="'Digite o CEP'"
      (ngModelChange)="onCepChange($event)"
    ></app-input>

    <!-- Logradouro Input -->
    <app-input
      label="Logradouro"
      name="streetName"
      inputClassName="input-standard"
      [(ngModel)]="form.streetName"
      [requiredInput]="true"
      [placeholder]="'Digite o logradouro'"
    ></app-input>

    <!-- Número Input -->
    <app-input
      label="Número"
      name="streetNumber"
      inputClassName="input-standard"
      [(ngModel)]="form.streetNumber"
      [requiredInput]="true"
      [placeholder]="'Digite o número'"
    ></app-input>
  </div>

  <div class="form-row">
    <!-- Bairro Input -->
    <app-input
      label="Bairro"
      name="neighborhood"
      inputClassName="input-standard"
      [(ngModel)]="form.neighborhood"
      [requiredInput]="true"
      [placeholder]="'Digite o bairro'"
    ></app-input>

    <!-- Cidade Input -->
    <app-input
      label="Cidade"
      name="city"
      [(ngModel)]="form.city"
      inputClassName="input-standard"
      [requiredInput]="true"
      [placeholder]="'Digite a cidade'"
    ></app-input>

    <!-- UF Input -->
    <app-input
      label="UF"
      name="state"
      inputClassName="input-standard"
      [(ngModel)]="form.state"
      [requiredInput]="true"
      [placeholder]="'Digite a UF (Estado)'"
    ></app-input>
  </div>

  <div class="form-row">
    <!-- Complemento Input -->
    <app-input
      label="Complemento"
      name="complement"
      inputClassName="input-standard"
      [(ngModel)]="form.complement"
      [placeholder]="'Digite o complemento'"
    ></app-input>

    <!-- E-mail Input -->
    <div class="grid-2fr">
      <app-input
        label="E-mail"
        name="email"
        type="text"
        inputClassName="input-standard"
        [(ngModel)]="form.email"
        [requiredInput]="true"
        [isEmail]="true"
        [placeholder]="'Digite o e-mail'"
      ></app-input>
    </div>
  </div>

  <div class="form-row" *ngIf="form.tipoCadastro == 1">
    <div class="input">
      <!-- Input para adicionar novas alergias -->
      <app-input
        type="text"
        label="Alergias"
        [(ngModel)]="newAllergy"
        name="allergyInput"
        width="100%"
        class="alergias"
        [placeholder]="'Digite novas alergias'"
      ></app-input>
      <button (click)="addAllergy()" class="alergias-btn">+</button>
    </div>
  </div>

  <div class="form-row">
    <div class="input2">
      <!-- Lista de alergias já adicionadas -->
      <div *ngFor="let allergy of form.allergies; let i = index">
        <div class="input">
          <input [value]="allergy" readonly class="alergias" />
          <button (click)="removeAllergy(i)" class="alergias-btn2">x</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Informações Profissionais - Displayed only if tipoCadastro equals 2 -->
  <div *ngIf="form.tipoCadastro == 2">
    <h3>Informações Profissionais</h3>
    <div class="form-row-profissionais">
      <!-- Especialidade Select -->
      <app-input
        type="select"
        width="100%"
        name="specialtyTypeId"
        label="Especialidade"
        [selectData]="especialidadesData"
        [requiredInput]="true"
        [(ngModel)]="form.specialtyTypeId"
        [placeholder]="'Selecione a especialidade'"
      ></app-input>

      <!-- CRM Input -->
      <app-input
        label="CRM"
        name="crm"
        inputClassName="input-standard"
        [(ngModel)]="form.crm"
        [requiredInput]="true"
        [placeholder]="'Digite o CRM'"
        type="text"
      ></app-input>
    </div>

    <!-- Observações -->
    <div class="grid-2fr">
      <app-input
        label="Informações adicionais"
        name="observation"
        inputClassName="input-standard"
        type="textarea"
        [(ngModel)]="form.observation"
        [placeholder]="'Adicione informações adicionais'"
      ></app-input>
    </div>
  </div>

  <!-- Form Actions -->
  <div class="form-actions">
    <button (click)="handleCancel()" class="cancelar">Cancelar</button>
    <button (click)="handleConfirm()" class="finalizar">Finalizar</button>
  </div>
</form>
