/* Container principal */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
}
.not-found-container {
  text-align: center;
}

/* Estilização do título */
.not-found-container h1 {
  font-size: 2.5em;
  color: #555;
  margin-bottom: 20px;
}

/* Estilização da imagem */
.error-image {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

/* Estilização dos links */
.link {
  color: #3caf50;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.title {
  font-size: 48px;
  color: #636363;
}

.subtitle {
  font-size: 28px;
}
