<div class="calendar-layout">
  <div class="doctor-filter">
    <div class="testando">
      <div class='testando-medicos'>
      <p>Médicos</p>
      <div *ngFor="let doctor of doctors">
        <input
          type="checkbox"
          [(ngModel)]="doctor.checked"
          (change)="filterAppointments()"
        />
        {{ doctor.name }}
      </div>
    </div>
    </div>
    <div class="testando2">
      <p>{{ selectedDate | date : "longDate" }}</p>
      <div *ngFor="let appointment of displayedAppointments">
        <div>
          <p>
            {{
              "Consulta com " +
                appointment.doctor.name +
                "- " +
                appointment.patient.name
            }}
          </p>
          <!-- Adicione mais detalhes conforme necessário -->
        </div>
      </div>
    </div>
  </div>
  <!-- calendar.component.html -->
  <div class="calendar-container">
    <!-- Lista de médicos com checkboxes -->

    <!-- Filtros de mês e ano -->
    <div #dateSelector class="date-selector">
      <select [(ngModel)]="selectedMonth" (change)="onMonthYearChange()">
        <option *ngFor="let month of monthOptions" [value]="month.value">
          {{ month.label }}
        </option>
      </select>

      <select [(ngModel)]="selectedYear" (change)="onMonthYearChange()">
        <option *ngFor="let year of yearOptions" [value]="year.value">
          {{ year.label }}
        </option>
      </select>
    </div>

    <!-- Calendário -->
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
