<div class="header">
  <div><h1>Pacientes</h1></div>
</div>

<div class="table-header">
  <div class="table-filters">
    <div class="buttons-table">
      <app-input
        type="search-select"
        placeholder="Pesquisar"
        icon="assets/img/search.svg"
        [optionsList]="selectData"
        (searchChange)="onSearchChange($event)"
        (selectChange)="onSelectChange($event)"
        [selectedLabel]="'Todos'"
      ></app-input>
    </div>
    <div class="header-buttons">
      <button class="primario" [style.width]="'100%'" (click)="cadastrar()">
        {{ "Cadastrar" }}
      </button>
    </div>
  </div>
</div>

<app-tabela [data]="filteredData" [columns]="tableColumns"></app-tabela>

<app-modal-informacao-paciente
  *ngIf="isPacienteModalOpen"
  (close)="closePacienteModal()"
></app-modal-informacao-paciente>
