<div class="header">
  <div><h1>Pacientes</h1></div>
</div>

<div class="table-header">
  <div class="table-filters">
    <div class="buttons-table">
      <app-input
        type="search-select"
        placeholder="Pesquisar"
        icon="assets/img/search.svg"
        [optionsList]="selectData"
        (searchChange)="onSearchChange($event)"
        (selectChange)="onSelectChange($event)"
        [selectedLabel]="'Todos'"
      ></app-input>
    </div>
    <div class="header-buttons">
      <button
        class="segundario"
        [style.width]="'100%'"
        (click)="exportToXlsx()"
      >
        <div class="button-display">
          <img src="assets/img/file_export.svg" alt="" class="icone" />
          {{ "Exportar" }}
        </div>
      </button>
      <button class="primario" [style.width]="'100%'" (click)="cadastrar()">
        {{ "Cadastrar" }}
      </button>
    </div>
  </div>
</div>

<app-tabela [data]="paginatedData" [columns]="tableColumns"></app-tabela>

<mat-paginator
  [length]="filteredData.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[1, 5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator>

<app-modal-informacao-paciente
  *ngIf="isPacienteModalOpen"
  (close)="closePacienteModal()"
  [data]="data"
></app-modal-informacao-paciente>

<app-exclusao-modal-paciente
  (closeModal)="closeModal()"
  *ngIf="showModalExclusao"
  [item]="item"
  [tipo]="tipo"
></app-exclusao-modal-paciente>
