<div class="calendar-layout">
  <div class="doctor-filter">
    <div class="testando">
      <div class="testando-medicos">
        <p>Médicossss</p>
        <div *ngFor="let doctor of doctors" class="checkbox-container">
          <input
            type="checkbox"
            [(ngModel)]="doctor.checked"
            (change)="filterAppointments()"
            class="custom-checkbox"
          />
          <span class="checkmark"></span>
          {{
            (doctor.gender === "Feminino"
              ? "Dra. "
              : doctor.gender === "Masculino"
              ? "Dr. "
              : "") +
              doctor.name +
              " (" +
              doctor.id +
              ")"
          }}
        </div>
      </div>
    </div>
    <div class="testando2">
      <p>{{ selectedDate | date : "longDate" }}</p>
      <div *ngFor="let appointment of displayedAppointments">
        <div class="consulta-card">
          <span class="consulta-title">
            {{
              (appointment.title === "Retorno"
                ? "Retorno com "
                : "Consulta com ") + appointment.doctor.name
            }}
          </span>
          <span class="consulta-subtitle">
            {{
              "Paciente: " +
                appointment.patient.name +
                " (" +
                appointment.patient.id +
                ")"
            }}
          </span>
        </div>
      </div>
    </div>
    <div class="graficos">
      <app-dashboard
        *ngFor="let graph of mockedGraphsData"
        [title]="graph.title"
        [description]="graph.description"
        [descriptionValue]="graph.descriptionValue"
        [description2]="graph.description2"
        [description2Value]="graph.description2Value"
        [totalValue]="graph.totalValue"
      ></app-dashboard>
    </div>
  </div>
  <!-- calendar.component.html -->
  <div class="calendar-container">
    <!-- Lista de médicos com checkboxes -->

    <!-- Filtros de mês e ano -->
    <div #dateSelector class="date-selector">
      <select [(ngModel)]="selectedMonth" (change)="onMonthYearChange()">
        <option *ngFor="let month of monthOptions" [value]="month.value">
          {{ month.label }}
        </option>
      </select>

      <select [(ngModel)]="selectedYear" (change)="onMonthYearChange()">
        <option *ngFor="let year of yearOptions" [value]="year.value">
          {{ year.label }}
        </option>
      </select>
    </div>

    <div class="calendar-container">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
