<div>
  <button class="btn-voltar" (click)="voltar()">
    <img src="assets/img/voltar.svg" /> Voltar
  </button>
</div>
<div class="consulta-header-principal">
  <div></div>
  <h1 class="consulta-title">Nova Consulta<span class="dot">.</span></h1>
  <div></div>
</div>
<div class="grid1">
  <div class="corpo">
    <div class="consulta-header">
      <div>
        <span class="patient-title">{{ data?.name }}</span>
      </div>
      <div>
        <span class="patient-subtitle"> {{ "Cod." + data?.id }}</span>
      </div>
    </div>
    <div class="consulta-header">
      <span>
        {{
          "Data de Nascimento: " + formatarValor("data", data?.dateOfBirth)
        }}</span
      >
      <span> {{ "Sexo: " + data?.gender }}</span>
      <span> {{ "CPF: " + formatarValor("cpf", data?.cpf) }}</span>
      <span> {{ "RG: " + formatarValor("rg", data?.documentNumber) }}</span>
    </div>
    <div class="consulta-header gap">
      <span>
        {{ "Celular: " + formatarValor("telefone", data?.cellphone) }}</span
      >
    </div>
    <div class="consulta-header">
      <span>
        Endereço: {{ data?.streetName }}, {{ data?.streetNumber }} -
        {{ data?.neighborhood }}, {{ data?.city }} - {{ data?.stateName }}, CEP:
        {{ data?.cep }}
      </span>
    </div>
  </div>
  <div class="foto">
    <div class="patient-photo">
      <img
        [src]="
          data?.photo
            ? 'data:image/png;base64,' + data?.photo
            : 'assets/img/image-avatar.svg'
        "
        alt="Foto do Paciente"
      />
    </div>
  </div>
</div>
<form class="grid">
  <app-input
    type="select"
    width="100%"
    name="especialidades"
    label="Especialidade"
    [(ngModel)]="form.especialidades"
    [selectData]="especialidadesData"
    (ngModelChange)="onEspecialidadeChange($event)"
  ></app-input>
  <app-input
    type="select"
    width="100%"
    name="medico"
    label="Médico(a)"
    [(ngModel)]="form.medico"
    [selectData]="filteredMedicos"
    (ngModelChange)="onMedicoChange($event)"
  ></app-input>
  <app-input
    label="Data da consulta"
    name="date"
    type="date"
    [(ngModel)]="form.date"
    inputClassName="input-standard"
    (ngModelChange)="onDateChange($event)"
    [isDataConsulta]="true"
  ></app-input>
  <app-input
    type="select"
    width="100%"
    name="horario"
    label="Horário"
    [(ngModel)]="form.horario"
    [selectData]="horarioOptions"
  ></app-input>
</form>

<button
  class="btn-primary btn-confirmar"
  (click)="confirmar()"
  [disabled]="!formValido()"
>
  Agendar
</button>

<app-modal-revisao-consulta
  *ngIf="isPacienteModalOpen"
  (close)="closePacienteModal()"
  [data]="formSubmit"
></app-modal-revisao-consulta>
