.consulta-header {
  display: flex;
  align-items: center;
  gap: 46px;
  margin: 18px 0px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 64px;
  margin-bottom: 80px;
}

.consulta-header-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
}

.consulta-title {
  font-size: 32px;
}
.dot {
  color: #307ac1;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}

.patient-title {
  font-size: 20px;
  font-weight: 700;
}

.patient-subtitle {
  font-size: 14px;
  color: #818181;
}

.grid-2fr {
  grid-column: span 2;
}

.gap {
  display: flex;
  gap: 95px;
}
.btn-voltar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
  width: 101px;
  height: 36px;
  color: #595959;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(181, 180, 180, 0.26); /* Sombra para efeito elevado */
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
}

.btn-voltar:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra mais forte ao passar o mouse */
}

.btn-voltar:active {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); /* Sombra ao clicar */
}

.btn-voltar:focus {
  outline: none; /* Remove a borda padrão ao focar */
}

.btn-confirmar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around;
  background-color: #307ac1;
  border: 2px solid #0a4072;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 36px;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26); /* Sombra para efeito elevado */
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
}

.btn-confirmar:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra mais forte ao passar o mouse */
}

.btn-confirmar:active {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3); /* Sombra ao clicar */
}

.btn-voltar:focus {
  outline: none; /* Remove a borda padrão ao focar */
}

.patient-title {
  text-transform: uppercase;
}
