<div>
  <button class="btn-voltar" (click)="voltar()">
    <img src="assets/img/voltar.svg" /> Voltar
  </button>
</div>
<div class="consulta-header-principal">
  <div></div>
  <h1 class="consulta-title">Nova Consulta<span class="dot">.</span></h1>
  <div></div>
</div>
<div>
  <div class="consulta-header">
    <div>
      <span class="patient-title">{{ data.nome }}</span>
    </div>
    <div>
      <span class="patient-subtitle"> {{ "Cod." + data.Cod }}</span>
    </div>
  </div>
  <div class="consulta-header">
    <span> {{ "Data de nasc." + data.date }}</span>
    <span> {{ "Sexo:" + data.sexo }}</span>
    <span> {{ "CPF:" + data.cpf }}</span>
    <span> {{ "RG:" + data.rg }}</span>
  </div>
  <div class="consulta-header gap">
    <span> {{ "Tel." + data.tel }}</span>
    <span> {{ "Cel." + data.cel }}</span>
  </div>
  <div class="consulta-header">
    <span> {{ data.endereco }}</span>
  </div>
</div>
<form class="grid">
  <app-input
    type="select"
    width="100%"
    name="especialidades"
    label="Especialidade"
    [(ngModel)]="form.especialidades"
    [selectData]="especialidadesOptions"
    (ngModelChange)="onEspecialidadeChange($event)"
  ></app-input>
  <app-input
    type="select"
    width="100%"
    name="medico"
    label="Médico(a)"
    [(ngModel)]="form.medico"
    [selectData]="medicosOptions"
  ></app-input>
  <app-input
    label="Data de Nascimento"
    name="date"
    type="date"
    [(ngModel)]="form.date"
    inputClassName="input-standard"
  ></app-input>
  <app-input
    type="select"
    width="100%"
    name="horario"
    label="Horário"
    [(ngModel)]="form.horario"
    [selectData]="horarioOptions"
  ></app-input>
  <app-input
    type="textarea"
    label="Observações"
    name="descricaoAdvertencia"
    maxLength="150"
    class="grid-2fr"
  ></app-input>
</form>

<button class="btn-confirmar">Confirmar</button>
