<header>
  <div class="user">
    <div class="user-photo">
      <img src="assets/img/perfil.svg" />
    </div>
    <div class="user-info">
      <!-- {{ getNome() }} -->
      <!-- {{ getCargo() }} -->
      <span class="user-name">Maria Eduarda</span>
      <div class="user-sub-info">
        <span class="user-role">assistente adminstrativo</span>
        <span class="logout" (click)="logout()">
          <img src="assets/img/sair.svg" />
          <span>Sair</span>
        </span>
      </div>
    </div>
  </div>
</header>
