<header>
  <div class="user">
    <div class="user-photo">
      <img [src]="userPhoto" class="icone" />
    </div>
    <div class="user-info">
      <!-- {{ getNome() }} -->
      <!-- {{ getCargo() }} -->
      <div class="user-column">
        <span class="user-name"> {{ getNome() }}</span>
        <span class="user-role">{{ getCargo() }}</span>
      </div>
      <!-- <div class="user-sub-info">
        <span class="logout" (click)="logout()">
          <img src="assets/img/sair.svg" />
          <span>Sair</span>
        </span>
      </div> -->
    </div>
  </div>
</header>
